/*This is a style sheet for index.html*/
/*Base styles*/
*{
	box-sizing: border-box;
}
header{
	text-align: center;
	margin-top: 3vh;
	margin-bottom: 3vh;
}
section{
	position: relative;
	float: left;
	background-color: darkgrey;
	padding: 15px;
	border: 2px solid black;
	font-weight: bold;
	overflow: auto;
}
h3{
	position:absolute;
	top:0px;
	right:0px;
	margin: 0px;
	border: 1px solid black;
	width: 100px;
}
#id1 h3{
	background-color: red;
	padding: 3px 20px 3px 20px;
}
#id2 h3{
	background-color: lightgreen;
	padding:3px 25px 3px 25px;
}
#id3 h3{
	background-color: lightblue;
	padding: 3px 4px 3px 4px;
}
/*For desktop devices*/
@media(min-width: 992px){

	section{
		width:30vw;
		height:50vh;
		margin-left: 2.5vw;
	}
}
/*For tablet view*/
@media(min-width: 768px) and (max-width: 991px){

	#id1,#id2{
		width: 45vw;
		height: 40vh;
		margin-left: 3.33vw;
		margin-bottom: 5vh;
	}

	#id3{
		width:93.33vw;
		height: 35vh;
		margin-left: 3.33vw;
	}
}
/*For mobile devices*/
@media(max-width: 767px){

	section{
		width: 90vw;
		height: 27.33vh;
		margin-left: 5vw;
		margin-bottom: 1.5vh;
	}
}